{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block monTitre %}Liste des téléphones{% endblock %}

{% block body %}

{{form_start(form)}}

<div class="row no-gutters align-items-center text-center">

    <div class="col">
        {{form_row(form.minPrix)}}
    </div>
    <div class="col">
        {{form_row(form.maxPrix)}}
    </div>
    <div class="col-2">
        <input type="submit" value="Rechercher" class="btn btn-primary">
    </div>
</div>


{{form_end(form)}}
{% if admin %}

<a href="{{path('creation_produits')}}" class="d-block btn btn-success">Ajouter</a>
{% endif %}
<div class="row no-gutters">

    {% for produit in produits %}
    <div class="col-12 col-lg-6 p-1">


        <div class="card mb-3">
            <div class="row no-gutters align-items-center p-2">
                <div class="col-12 col-md-4">
                    <img class="card-img" style="width: 180px; height: 220px;"
                        src="{{asset('produits/' ~ produit.image)}}">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title">{{produit.nom}}</h4>
                        <p class="card-text">

                            <div><strong>Marque :</strong> {{produit.categories.libelle}}</div>
                            <div><strong>Déscription :</strong> {{produit.description}}</div>
                            <div><strong>Prix :</strong> {{produit.prix}}€</div>
                            <div><strong>Grade :</strong> {{produit.etat}}</div>

                            {% if admin %}
                            
                            <a href="{{path('admin_produit',{'id' : produit.id})}}"><span class="badge badge-success">Voir plus <svg class="bi bi-caret-right-fill" width="1em"
                                height="1em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z" />
                            </svg>
                        </span></a>

                        {% else %}
                            
                        <a href="{{path('produit',{'id' : produit.id})}}"><span class="badge badge-success">Voir plus <svg class="bi bi-caret-right-fill" width="1em"
                            height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z" />
                        </svg>
                    </span></a>
                        
                        {% endif %}
                        </p>

                    </div>
                </div>
            </div>
            <a href="{{path('add_products', {'id' : produit.id })}}" class="col btn btn-primary w-100">Ajouter au Panier<i class="ml-2 fas fa-cart-plus"></i></a>
            {% if admin %}
            <div class="row no-gutters">
                <a href="{{path('modif_produits',{'id' : produit.id})}}" class="col btn btn-warning">Modifier</a>
                <form action="{{path('supp_produits', {'id' : produit.id})}}" class="col" method="post"
                    onsubmit="return confirm('Voulez vous vraiment supprimer ce produit ?')">
                    <input type="hidden" name="_method" value="SUP">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ produit.id)}}">
                    <input type="submit" value="Supprimer" class="btn btn-danger w-100">
                </form>
            </div>

            {% endif %}

        </div>
    </div>


    {% endfor %}

</div>

<div class="navigation">
    {{ knp_pagination_render(produits) }}
</div>



{% endblock %}