{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block monTitre %}Espace Admin{% endblock %}

{% block body %}

{% for utilisateur in utilisateurs %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Login</th>
        <th scope="col">E-mail</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Ville</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{utilisateur.username}}</td>
        <td>{{utilisateur.mail}}</td>
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>
        <td>{{utilisateur.adresse}}</td>
        <td>{{utilisateur.cpostal}}</td>
        <td>{{utilisateur.ville}}</td>
        <td>{{utilisateur.phone}}</td>
        <td><form action="{{path('supp_utilisateur', {'id' : utilisateur.id})}}" class="col" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ?')">
            <input type="hidden" name="_method" value="SUP">
            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ utilisateur.id)}}">
            <input type="submit" value="Supprimer" class="btn btn-danger w-100">
        </form></td>
      
      </tr>
    </tbody>
  </table>
    
{% endfor %}



{% endblock %}
