{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block monTitre %}

Modification des informations


{% endblock %}

{% block body %}
{% if app.user.id == utilisateur.id %}



{{form_start(form)}}
{{form_widget(form)}}
<a class="btn btn-primary" href="{{path('espace_client')}}">Retour</a>
<input type="submit" value="Valider" class="btn btn-success">
{{form_end(form)}}




{% else %}
<script>window.location.href = "{{path('deconnexion')}}" </script>
{% endif %}
{% endblock %}
