{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block monTitre %}Modification du produit : {{ produit.nom }}{% endblock %}

{% block body %}

{{form_start(form)}}
{{form_widget(form)}}
<a class="btn btn-primary" href="{{path('admin_produits')}}">Retour</a>
<input type="submit" value="Valider" class="btn btn-success">
{{form_end(form)}}




{% endblock %}
