{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block monTitre %}Liste des commandes{% endblock %}

{% block body %}
{% if app.user and app.user.id == user %}

{% for commande in commandes %}

<table class="table">
    <thead>
        <tr>
            <th>Numéro de commande</th>
            <th>Client</th>
            <th>Date</th>
            <th>Détail de la commande</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>{{commande.numero_commande}}</td>
            <td>{{commande.user.mail}}</td>
            <td>{{commande.date |date('d-m-Y H:i:s') }}</td>
            <td>
                <a href="{{path('affichage_commande', {'order' : commande.id })}}" class="btn btn-primary btn-sm">
                    <i class="fas fa-search"></i>
            </td>
        </tr>
    </tbody>
</table>



    
{% endfor %}

{% else %}
<script>window.location.href = "{{path('deconnexion')}}" </script>
{% endif %}

{% endblock %}